<project name="ddl-generation" basedir="../../../../" default="generate-schema">
	<target name="create-schema">
		<taskdef name="hibernatetool" classname="org.hibernate.tool.ant.HibernateToolTask">
			<classpath>
				<path refid="maven.dependency.classpath"/>
			</classpath>
		</taskdef>
		<hibernatetool destdir="">
			<configuration propertyfile="src/main/resources/hibernate.properties">
			   <fileset dir="src/generated/resources">
			   <include name="**/*.hbm.xml"/>
			   <exclude name="**/*Test.hbm.xml"/>
			  </fileset>
			 </configuration>
		    <hbm2ddl drop="false" create="true" export="true" update="false"/>
		</hibernatetool>
	    </target>

	    <target name="recreate-schema">
		<taskdef name="hibernatetool" classname="org.hibernate.tool.ant.HibernateToolTask">
				<classpath>
					<path refid="maven.dependency.classpath"/>
				</classpath>
			</taskdef>
		<hibernatetool destdir="">
			 <configuration propertyfile="src/main/resources/hibernate.properties">
			   <fileset dir="src/generated/resources">
			   <include name="**/*.hbm.xml"/>
			   <exclude name="**/*Test.hbm.xml"/>
			  </fileset>
			 </configuration>
		    <hbm2ddl drop="true" create="true" export="true" update="false"/>
		</hibernatetool>
	    </target>

		<target name="update-schema">
			<taskdef name="hibernatetool" classname="org.hibernate.tool.ant.HibernateToolTask">
					<classpath>
						<path refid="maven.dependency.classpath"/>
					</classpath>
				</taskdef>
		<hibernatetool destdir="">
			<configuration propertyfile="src/main/resources/hibernate.properties">
			   <fileset dir="src/generated/resources">
			   <include name="**/*.hbm.xml"/>
			   <exclude name="**/*Test.hbm.xml"/>
			  </fileset>
			 </configuration>
		    <hbm2ddl drop="false" create="false" export="true" update="true"/>
		</hibernatetool>
	    </target>

	    <target name="document-schema" description="Generate a html description of the mappings">
		<taskdef name="hibernatetool" classname="org.hibernate.tool.ant.HibernateToolTask">
				<classpath>
					<path refid="maven.dependency.classpath"/>
				</classpath>
			</taskdef>
		<hibernatetool destdir="hibernate-html">
			<configuration propertyfile="src/main/resources/hibernate.properties">
			   <fileset dir="src/generated/resources">
			   <include name="**/*.hbm.xml"/>
			   <exclude name="**/*Test.hbm.xml"/>
			  </fileset>
			 </configuration>
		    <hbm2doc/>
		</hibernatetool>
	    </target>
    
	<target name="generate-schema">
		<taskdef name="schemaexport" classname="org.hibernate.tool.hbm2ddl.SchemaExportTask">
			<classpath>
				<path refid="maven.dependency.classpath"/>
			</classpath>
		</taskdef>
			
	    <schemaexport
	    	properties="src/main/resources/hibernate.properties"
	        quiet="yes"
	        text="yes"
	        drop="no"	   
	        delimiter=";" 	
	        output="target/schema-export.sql">
	        <fileset dir="src/generated/resources/">
	            <include name="**/*.hbm.xml"/>
	        </fileset>
	    </schemaexport>
	</target>
</project>
