# Developer/Deployer responsibility to complete
# Refer to http://www.hibernate.org/hib_docs/v3/reference/en/html_single/#configuration-optional for more details

# Required properties
#dialect=org.hibernate.dialect.MySQLDialect
#hibernate.transaction.manager_lookup_class=org.hibernate.transaction.JBossTransactionManagerLookup

# Optional properties
#hibernate.hbm2ddl.auto=create
#show_sql=true
