<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
  <session-factory>
  
  		<property name="hibernate.transaction.manager_lookup_class">org.hibernate.transaction.CMTTransactionFactory"></property>

        <!-- mapping files -->
#foreach($entity in $entities)
    	<mapping resource="${pathPrefix}/${entity.name}.hbm.xml"/>
#end

  </session-factory>
</hibernate-configuration>