fermenter-mda/.classpath
fermenter-mda/.project
fermenter-mda/.settings
fermenter-mda/target
.project
velocity.log*
build-tools/target/
build-tools/bin/
.settings/
target
.classpath
stout/stout-cookbook/stout-cookbook-domain/src/generated
**/bin/
*.iml
.idea/

