<div fxLayout="row">
  <mat-icon svgIcon="error"></mat-icon>
  <h1 mat-dialog-title class="error-heading">Sorry, but it looks like something broke</h1>
</div>
<p mat-dialog-content class="help-text">If you've ran into this issue multiple times, copy the error by clicking the button below and we can try to help you out!</p>
<mat-dialog-content>
  <ul *ngFor="let message of data">
    <li mat-line> {{message.displayText}} </li>
  </ul>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <div class="small-padding">
    <button mat-stroked-button color="primary" (click)="copyMessageToClipboard()"
      matTooltip="Copy the error to the clipboard to provide to the helpdesk.">Copy to clipboard</button>
  </div>
  <div class="small-padding">
    <button mat-raised-button mat-dialog-close color="primary">Close</button>
  </div>
</mat-dialog-actions>
