<kmodule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://www.drools.org/xsd/kmodule">
  <configuration>
   
  </configuration>
  <kbase name="KBase1" default="true" eventProcessingMode="cloud" equalsBehavior="equality" declarativeAgenda="enabled" packages="rules.default">
    <ksession name="KSessionDefault" type="stateful" default="true"/>
  </kbase>
  <kbase name="KBase2" default="false" eventProcessingMode="cloud" equalsBehavior="equality" declarativeAgenda="enabled" packages="rules.groupA">
    <ksession name="KSessionA" type="stateful" default="true"/>
  </kbase>
  <kbase name="KBase3" default="false" eventProcessingMode="cloud" equalsBehavior="equality" declarativeAgenda="enabled" packages="rules.groupB">
    <ksession name="KSessionB" type="stateful" default="true"/>
  </kbase>
</kmodule>