package ${basePackage}.service.impl;

import java.util.ArrayList;
import java.util.Collection;
import java.util.HashSet;
import java.util.Set;

import javax.inject.Inject;
import javax.ws.rs.core.Response;
import javax.ws.rs.BadRequestException;
import javax.ws.rs.WebApplicationException;

import org.apache.commons.collections.CollectionUtils;
import org.bitbucket.fermenter.stout.authz.Action;
import org.bitbucket.fermenter.stout.messages.AbstractMsgMgrAwareService;
import org.bitbucket.fermenter.stout.messages.MessageManagerAwareService;
import org.bitbucket.fermenter.stout.messages.CoreMessages;
import org.bitbucket.fermenter.stout.messages.DefaultMessages;
import org.bitbucket.fermenter.stout.messages.MessageManager;
import org.bitbucket.fermenter.stout.messages.MessageUtils;
import org.bitbucket.fermenter.stout.page.json.FindByExampleCriteria;
import org.bitbucket.fermenter.stout.page.PageWrapper;
import org.bitbucket.fermenter.stout.page.PageMapper;
import org.bitbucket.fermenter.stout.page.SortMapper;
import org.bitbucket.fermenter.stout.service.ValueServiceResponse;
import org.bitbucket.fermenter.stout.service.VoidServiceResponse;
import org.slf4j.Logger;
import org.slf4j.LoggerFactory;
import org.springframework.stereotype.Service;
import org.springframework.transaction.annotation.Propagation;
import org.springframework.transaction.annotation.Transactional;
import org.springframework.data.domain.Page;
import org.springframework.data.domain.Sort;

#foreach( $import in $service.imports )
import $import;
#end

#foreach( $import in $entity.idFieldImports )
import $import;
#end

import ${basePackage}.bizobj.${entity.name}BO;
import ${basePackage}.service.rest.${entity.name}MaintenanceService;

/**
 * Concrete implementation for create, retrieve, update, and delete (CRUD) functionality 
 * for ${entity.name} business objects.
 *
 * Generated Code - DO NOT MODIFY
 */
@Service 
public class ${entity.name}MaintenanceServiceImpl extends AbstractMsgMgrAwareService implements ${entity.name}MaintenanceService {

#if ( !$entity.idFields.isEmpty() )
  #set ($idFieldJavaType = ${entity.idFields.values().iterator().next().javaType})
  #set ($idFieldName = ${entity.idFields.values().iterator().next().name})
#else
  #set ($idFieldJavaType = 'String')
  #set ($idFieldName = 'id')
#end  

	private static final Logger logger = LoggerFactory.getLogger(${entity.name}MaintenanceServiceImpl.class);
		
	@Inject
	private DefaultMessages messages;
	
	@Inject
	private MessageManagerAwareService messageManagerAwareService;
		
	/**
	 * {@inheritDoc}
	 */
	@Transactional(propagation=Propagation.REQUIRED)
	@Override
	public ValueServiceResponse<${entity.name}BO> saveOrUpdate(${idFieldJavaType} ${idFieldName}, ${entity.name}BO entity) {
		entity.setKey($idFieldName);
		return saveOrUpdate(entity);
	}
	
	/**
	 * {@inheritDoc}
	 */
	@Transactional(propagation=Propagation.REQUIRED)
	@Override
	public ValueServiceResponse<${entity.name}BO> saveOrUpdate(${entity.name}BO entity) {
		messageManagerAwareService.initializeMessageManager(messages);
		assertAuthorization(PATH, Action.SAVE);
		ValueServiceResponse<${entity.name}BO> response = performSaveOrUpdate(entity);
		MessageManager.logMessages(logger, this.getClass());
		return response;
	}
	
	private ValueServiceResponse<${entity.name}BO> performSaveOrUpdate(${entity.name}BO entity) {
		${entity.name}BO persistedEntity = entity.save();
		ValueServiceResponse<${entity.name}BO> response = new ValueServiceResponse<>(persistedEntity);
		messageManagerAwareService.addAllMessagesToResponse(response);
		
		if (response.getMessages().hasErrorMessages()) {
		    Response statusResponse = Response.status(Response.Status.BAD_REQUEST).entity(response).build();
			throw new WebApplicationException(statusResponse);
		}
		
		return response;
	}	
	
	/**
	 * {@inheritDoc}
	 */
	@Transactional(propagation=Propagation.REQUIRED)
	@Override
	public VoidServiceResponse delete(${idFieldJavaType} ${idFieldName}) {
		messageManagerAwareService.initializeMessageManager(messages);
		assertAuthorization(PATH, Action.DELETE);
		VoidServiceResponse response = performDelete(${idFieldName});
		MessageManager.logMessages(logger, this.getClass());
		return response;
	}
	
	private VoidServiceResponse performDelete(${idFieldJavaType} ${idFieldName}) {
		${entity.name}BO entityToDelete = ${entity.name}BO.findByPrimaryKey(${idFieldName});
		if (entityToDelete != null) {
			entityToDelete.delete();
		} else {
	          MessageManager.addMessage(MessageUtils.createErrorMessage(CoreMessages.INVALID_ENTITY_KEY,
	                    new String[] { ${idFieldName}.toString() }, new Object[] { ${idFieldName}, "a record with this key does not exist" }));
		}
		VoidServiceResponse response = new VoidServiceResponse();
		messageManagerAwareService.addAllMessagesToResponse(response);
		return response;
	}		
	 	
	/**
	 * {@inheritDoc}
	 */
	@Transactional(propagation=Propagation.SUPPORTS)
	@Override
	public ValueServiceResponse<${entity.name}BO> findByPrimaryKey(${idFieldJavaType} ${idFieldName}) {
		messageManagerAwareService.initializeMessageManager(messages);
		assertAuthorization(PATH, Action.RETRIEVE);
		${entity.name}BO retrievedEntity = null;
		if (${idFieldName} == null) {
	          MessageManager.addMessage(MessageUtils.createErrorMessage(CoreMessages.INVALID_ENTITY_KEY,
	                    new String[] { "null" }, new Object[] { "null", "cannot pass in a null key" }));
		} else {
			retrievedEntity = ${entity.name}BO.findByPrimaryKey(${idFieldName} #if (!$entity.relations.isEmpty()), true#end);
			if (retrievedEntity == null && shouldCreateMessageOnNonexistentFindByPrimaryKey) {
		          MessageManager.addMessage(MessageUtils.createErrorMessage(CoreMessages.INVALID_ENTITY_KEY,
		                    new String[] { ${idFieldName}.toString() }, new Object[] { ${idFieldName}, "a record with this key does not exist" }));
			}
		}
		ValueServiceResponse<${entity.name}BO> response = new ValueServiceResponse<>(retrievedEntity);
		messageManagerAwareService.addAllMessagesToResponse(response);
		
		MessageManager.logMessages(logger, this.getClass());
		
		if (response.getMessages().hasErrorMessages()) {
		    Response statusResponse = Response.status(Response.Status.BAD_REQUEST).entity(response).build();
			throw new WebApplicationException(statusResponse);
		}
		return response;
	}
	
	/**
	 * {@inheritDoc}
	 */
	@Transactional(propagation = Propagation.SUPPORTS)
	@Override
	public ValueServiceResponse<PageWrapper<${entity.name}BO>> findByExample(FindByExampleCriteria<${entity.name}BO> criteria) {
		messageManagerAwareService.initializeMessageManager(messages);
        assertAuthorization(PATH, Action.RETRIEVE);
		Sort sort = SortMapper.mapToSort(criteria.getSortWrapper());
		Page<${entity.name}BO> allEntitiesPage = ${entity.name}BO.findByExample(criteria.getProbe(), criteria.getContainsMatch(), criteria.getStartPage(), criteria.getCount(), sort);
		PageWrapper<${entity.name}BO> allEntities = (new PageMapper<${entity.name}BO>()).mapToPageWrapper(allEntitiesPage);
		ValueServiceResponse<PageWrapper<${entity.name}BO>> response = new ValueServiceResponse<>(allEntities);
		messageManagerAwareService.addAllMessagesToResponse(response);
		
		MessageManager.logMessages(logger, this.getClass());		
		
		return response;
	}
	
	/**
	 * {@inheritDoc}
	 */
	@Transactional(propagation=Propagation.REQUIRED)
	@Override
	public ValueServiceResponse<Collection<${entity.name}BO>> bulkSaveOrUpdate(Collection<${entity.name}BO> entities) {
		messageManagerAwareService.initializeMessageManager(messages);
	    assertAuthorization(PATH, Action.SAVE);
		Collection<${entity.name}BO> values = new ArrayList<>();
		ValueServiceResponse<${entity.name}BO> response = null;
        ValueServiceResponse<Collection<${entity.name}BO>> responses = new ValueServiceResponse<>(values);
        String keyList = null;
        
		for(${entity.name}BO entity : entities){
            try {
                response = performSaveOrUpdate(entity);
                values.add(response.getValue());
                MessageManager.addMessages(response.getMessages());
            } catch(Exception e) {
                keyList = addToFailedKeys(keyList, entity.getKey());
            }
        }
        
        if(keyList != null) {
            MessageManager.addMessage(MessageUtils.createErrorMessage(CoreMessages.BULK_OPERATION_FAILED,
                    new String[] { "Bulk Save failed" }, new Object[] { keyList }));
            messageManagerAwareService.addAllMessagesToResponse(responses);            
        }
        
        MessageManager.logMessages(logger, this.getClass());
		
		if (responses.getMessages().hasErrorMessages() || CollectionUtils.isEmpty(entities)) {
		    Response statusResponse = Response.status(Response.Status.BAD_REQUEST).entity(responses).build();
			throw new WebApplicationException(statusResponse);
		}
        
		return responses;
	}
	
	/**
	 * {@inheritDoc}
	 */
    @Transactional(propagation=Propagation.REQUIRED)
    @Override
    public VoidServiceResponse bulkDelete(Collection<${entity.name}BO> entities) {
        messageManagerAwareService.initializeMessageManager(messages);
        assertAuthorization(PATH, Action.DELETE);
        VoidServiceResponse responses = new VoidServiceResponse();
        String keyList = null;
        
        Set<${idFieldJavaType}> keySet = new HashSet<>();        
        for (${entity.name}BO entity : entities) {
            keySet.add(entity.getKey());
        }
        
        
        for (${idFieldJavaType} key : keySet) {
            VoidServiceResponse response = performDelete(key);
            if (response.getMessages().hasErrorMessages()) {
                keyList = addToFailedKeys(keyList, key);
            }
        }

        if(keyList != null) {
            MessageManager.addMessage(MessageUtils.createErrorMessage(CoreMessages.BULK_OPERATION_FAILED,
                    new String[] { "Bulk Delete failed" }, new Object[] { keyList }));
            messageManagerAwareService.addAllMessagesToResponse(responses);            
        }
        
        MessageManager.logMessages(logger, this.getClass());
        
        if (responses.getMessages().hasErrorMessages() || CollectionUtils.isEmpty(entities)) {
            Response statusResponse = Response.status(Response.Status.BAD_REQUEST).entity(responses).build();
            throw new BadRequestException(statusResponse);
        }
        
        return responses;
    } 
    
    private String addToFailedKeys(String keyList, ${idFieldJavaType} key) {
        if (keyList != null) {
            keyList += ", ";
        }
        keyList += key;
        return keyList;
    }
	
}
