package ${basePackage}.service.impl;

import java.util.ArrayList;
import java.util.Collection;
import java.util.HashSet;
import java.util.Set;

import javax.inject.Inject;
import javax.ws.rs.core.Response;
import javax.ws.rs.BadRequestException;
import javax.ws.rs.WebApplicationException;

import org.apache.commons.collections.CollectionUtils;
import org.technologybrewery.fermenter.stout.authz.Action;
import org.technologybrewery.fermenter.stout.messages.MessageManagerAwareService;
import org.technologybrewery.fermenter.stout.messages.Messages;
import org.technologybrewery.fermenter.stout.messages.MessageManager;
import org.technologybrewery.fermenter.stout.page.json.FindByExampleCriteria;
import org.technologybrewery.fermenter.stout.page.PageWrapper;
import org.technologybrewery.fermenter.stout.page.SortConverter;
import org.technologybrewery.fermenter.stout.service.AbstractEntityMaintenanceService;
import org.technologybrewery.fermenter.stout.service.ValueServiceResponse;
import org.technologybrewery.fermenter.stout.service.VoidServiceResponse;
import org.slf4j.Logger;
import org.slf4j.LoggerFactory;
import org.springframework.stereotype.Service;
import org.springframework.transaction.annotation.Propagation;
import org.springframework.transaction.annotation.Transactional;
import org.springframework.data.domain.Sort;

#foreach( $import in $service.imports )
import $import;
#end

#foreach( $import in $entity.idFieldImports )
import $import;
#end

import ${basePackage}.bizobj.${entity.name}BO;
import ${basePackage}.service.rest.${entity.name}MaintenanceService;

/**
 * Concrete implementation for create, retrieve, update, and delete (CRUD) functionality 
 * for ${entity.name} business objects.
 *
 * Generated Code - DO NOT MODIFY
 *
 * Generated from: ${templateName}
 */
@Service 
public class ${entity.name}MaintenanceServiceImpl extends AbstractEntityMaintenanceService implements ${entity.name}MaintenanceService {

	private static final Logger logger = LoggerFactory.getLogger(${entity.name}MaintenanceServiceImpl.class);
		
	@Inject
	private Messages messages;
	
	@Inject
	private MessageManagerAwareService messageManagerAwareService;
		
	/**
	 * {@inheritDoc}
	 */
	@Transactional(propagation=Propagation.REQUIRED)
	@Override
	public ValueServiceResponse<${entity.name}BO> saveOrUpdate(${entity.identifier.javaType} ${entity.identifier.name}, ${entity.name}BO entity) {
		entity.setKey($entity.identifier.name);
		return saveOrUpdate(entity);
	}
	
	/**
	 * {@inheritDoc}
	 */
	@Transactional(propagation=Propagation.REQUIRED)
	@Override
	public ValueServiceResponse<${entity.name}BO> saveOrUpdate(${entity.name}BO entity) {
		messageManagerAwareService.initializeMessageManager(messages);
		assertAuthorization(PATH, Action.SAVE);
		ValueServiceResponse<${entity.name}BO> response = performSaveOrUpdate(entity);
		MessageManager.logMessages(logger, this.getClass());
		return response;
	}
	
	private ValueServiceResponse<${entity.name}BO> performSaveOrUpdate(${entity.name}BO entity) {
		${entity.name}BO persistedEntity = entity.save();
		ValueServiceResponse<${entity.name}BO> response = new ValueServiceResponse<>(persistedEntity);
		messageManagerAwareService.addAllMessagesToResponse(response);
		
		if (response.getMessages().hasErrors()) {
		    Response statusResponse = Response.status(Response.Status.BAD_REQUEST).entity(response).build();
			throw new WebApplicationException(statusResponse);
		}
		
		return response;
	}	
	
	/**
	 * {@inheritDoc}
	 */
	@Transactional(propagation=Propagation.REQUIRED)
	@Override
	public VoidServiceResponse delete(${entity.identifier.javaType} ${entity.identifier.name}) {
		messageManagerAwareService.initializeMessageManager(messages);
		assertAuthorization(PATH, Action.DELETE);
        ${entity.name}BO.deleteByPrimaryKey(${entity.identifier.name});
        VoidServiceResponse response = new VoidServiceResponse();
		messageManagerAwareService.addAllMessagesToResponse(response);
		//VoidServiceResponse response = performDelete(${entity.identifier.name});
		MessageManager.logMessages(logger, this.getClass());
		return response;
	}	
	 	
	/**
	 * {@inheritDoc}
	 */
	@Transactional(propagation=Propagation.SUPPORTS)
	@Override
	public ValueServiceResponse<${entity.name}BO> findByPrimaryKey(${entity.identifier.javaType} ${entity.identifier.name}) {
		messageManagerAwareService.initializeMessageManager(messages);
		assertAuthorization(PATH, Action.RETRIEVE);
		${entity.name}BO retrievedEntity = null;
		if (${entity.identifier.name} == null) {
			addInvalidKeyErrorMessage("null");
		    
		} else {
			retrievedEntity = ${entity.name}BO.findByPrimaryKey(${entity.identifier.name} #if (!$entity.relations.isEmpty()), true#end);
			if (retrievedEntity == null && shouldCreateMessageOnNonexistentFindByPrimaryKey) {
				addInvalidKeyErrorMessage(${entity.identifier.name});

			}
		}
		
		ValueServiceResponse<${entity.name}BO> response = new ValueServiceResponse<>(retrievedEntity);
		messageManagerAwareService.addAllMessagesToResponse(response);
		
		MessageManager.logMessages(logger, this.getClass());
		
		if (response.getMessages().hasErrors()) {
		    Response statusResponse = Response.status(Response.Status.BAD_REQUEST).entity(response).build();
			throw new WebApplicationException(statusResponse);
			
		}
		
		return response;
	}
	
	/**
	 * {@inheritDoc}
	 */
	@Transactional(propagation = Propagation.SUPPORTS)
	@Override
	public ValueServiceResponse<PageWrapper<${entity.name}BO>> findByExample(FindByExampleCriteria<${entity.name}BO> criteria) {
		messageManagerAwareService.initializeMessageManager(messages);
        assertAuthorization(PATH, Action.RETRIEVE);
		Sort sort = SortConverter.convertToSpringSort(criteria.getSortWrapper());
		PageWrapper<${entity.name}BO> resultsAsPage = ${entity.name}BO.findByExample(criteria.getProbe(), criteria.getContainsMatch(), criteria.getStartPage(), criteria.getCount(), sort);
		ValueServiceResponse<PageWrapper<${entity.name}BO>> response = new ValueServiceResponse<>(resultsAsPage);
		messageManagerAwareService.addAllMessagesToResponse(response);
		
		MessageManager.logMessages(logger, this.getClass());		
		
		return response;
	}
	
	/**
	 * {@inheritDoc}
	 */
	@Transactional(propagation = Propagation.SUPPORTS)
	@Override
	public ValueServiceResponse<Collection<${entity.name}BO>> findByExampleContains(${entity.name}BO probe) {
		messageManagerAwareService.initializeMessageManager(messages);
        assertAuthorization(PATH, Action.RETRIEVE);
		Collection<${entity.name}BO> results = ${entity.name}BO.findByExampleContains(probe);
		ValueServiceResponse<Collection<${entity.name}BO>> response = new ValueServiceResponse<>(results);
		messageManagerAwareService.addAllMessagesToResponse(response);
		
		MessageManager.logMessages(logger, this.getClass());		
		
		return response;
	}
	
	/**
	 * {@inheritDoc}
	 */
	@Transactional(propagation = Propagation.SUPPORTS)
	@Override
	public ValueServiceResponse<PageWrapper<${entity.name}BO>> findByExampleContainsPaged(${entity.name}BO probe, int startPage, int count) {
		messageManagerAwareService.initializeMessageManager(messages);
        assertAuthorization(PATH, Action.RETRIEVE);
		PageWrapper<${entity.name}BO> resultsAsPage = ${entity.name}BO.findByExampleContainsPaged(probe, startPage, count);
		ValueServiceResponse<PageWrapper<${entity.name}BO>> response = new ValueServiceResponse<>(resultsAsPage);
		messageManagerAwareService.addAllMessagesToResponse(response);
		
		MessageManager.logMessages(logger, this.getClass());		
		
		return response;
	}
	
	/**
	 * {@inheritDoc}
	 */
	@Transactional(propagation = Propagation.SUPPORTS)
	@Override
	public ValueServiceResponse<Collection<${entity.name}BO>> findByExampleMatches(${entity.name}BO probe) {
		messageManagerAwareService.initializeMessageManager(messages);
        assertAuthorization(PATH, Action.RETRIEVE);
		Collection<${entity.name}BO> results = ${entity.name}BO.findByExampleMatches(probe);
		ValueServiceResponse<Collection<${entity.name}BO>> response = new ValueServiceResponse<>(results);
		messageManagerAwareService.addAllMessagesToResponse(response);
		
		MessageManager.logMessages(logger, this.getClass());		
		
		return response;
	}
	
	/**
	 * {@inheritDoc}
	 */
	@Transactional(propagation = Propagation.SUPPORTS)
	@Override
	public ValueServiceResponse<PageWrapper<${entity.name}BO>> findByExampleMatchesPaged(${entity.name}BO probe, int startPage, int count) {
        messageManagerAwareService.initializeMessageManager(messages);
        assertAuthorization(PATH, Action.RETRIEVE);
        PageWrapper<${entity.name}BO> resultsAsPage = ${entity.name}BO.findByExampleMatchesPaged(probe, startPage, count);
        ValueServiceResponse<PageWrapper<${entity.name}BO>> response = new ValueServiceResponse<>(resultsAsPage);
        messageManagerAwareService.addAllMessagesToResponse(response);
		
		MessageManager.logMessages(logger, this.getClass());		
		
		return response;
	}
	
	/**
	 * {@inheritDoc}
	 */
	@Transactional(propagation=Propagation.REQUIRED)
	@Override
	public ValueServiceResponse<Collection<${entity.name}BO>> bulkSaveOrUpdate(Collection<${entity.name}BO> entities) {
        messageManagerAwareService.initializeMessageManager(messages);
        assertAuthorization(PATH, Action.SAVE);
        Collection<${entity.name}BO> values = new ArrayList<>();
        ValueServiceResponse<${entity.name}BO> response = null;
        ValueServiceResponse<Collection<${entity.name}BO>> responses = new ValueServiceResponse<>(values);
        String keyList = null;
        
        for(${entity.name}BO entity : entities){
            try {
                response = performSaveOrUpdate(entity);
                values.add(response.getValue());
                MessageManager.addMessages(response.getMessages());
            } catch(Exception e) {
                keyList = addToFailedKeys(keyList, entity.getKey());
            }
        }
        
        if (keyList != null) {
        	addBulkOperationErrorMessage("Bulk Save", keyList);
            messageManagerAwareService.addAllMessagesToResponse(responses);            
        }
        
        MessageManager.logMessages(logger, this.getClass());

        if (responses.getMessages().hasErrors() || CollectionUtils.isEmpty(entities)) {
            Response statusResponse = Response.status(Response.Status.BAD_REQUEST).entity(responses).build();
            throw new WebApplicationException(statusResponse);
        }
        
		return responses;
	}
	
	/**
	 * {@inheritDoc}
	 */
    @Transactional(propagation=Propagation.REQUIRED)
    @Override
    public VoidServiceResponse bulkDelete(Collection<${entity.name}BO> entities) {
        messageManagerAwareService.initializeMessageManager(messages);
        assertAuthorization(PATH, Action.DELETE);
        ${entity.name}BO.bulkDelete(entities);
        VoidServiceResponse response = new VoidServiceResponse();
        messageManagerAwareService.addAllMessagesToResponse(response);
        
        MessageManager.logMessages(logger, this.getClass());
        
        if (response.getMessages().hasErrors() || CollectionUtils.isEmpty(entities)) {
            Response statusResponse = Response.status(Response.Status.BAD_REQUEST).entity(response).build();
            throw new BadRequestException(statusResponse);
        }
        
        return response;
    } 
    
    private String addToFailedKeys(String keyList, ${entity.identifier.javaType} key) {
        if (keyList != null) {
            keyList += ", ";
        }
        keyList += key;
        return keyList;
    }
	
}
