package ${basePackage}.service.rest;

import javax.ws.rs.Path;

/**
 * Interface for the ${service.name} service that may be modified by 
 * developers to encapsulate any service operations that are not supported
 * for definition in this domain's meta-model.
 *
 * @see ${basePackage}.service.rest.${service.name}BaseService
 * 
 * GENERATED STUB CODE - PLEASE *DO* MODIFY
 */
@Path(${service.name}Service.PATH)
public interface ${service.name}Service extends ${service.name}BaseService {

    /**
     * Path for this service. Path is used multiple places, so having it in a constant ensures they are all consistent.
     */
    public static final String PATH = "${service.name}Service";
	
	// Developers should add any service operations here that cannot be defined via the PIM
	
}