package ${basePackage}.service.rest;

import javax.ws.rs.Path;

/**
 * Interface for the ${service.name} service that may be modified by 
 * developers to encapsulate any service operations that are not supported
 * for definition in this domain's meta-model.
 *
 * @see ${basePackage}.service.rest.${service.name}BaseService
 * 
 * GENERATED STUB CODE - PLEASE *DO* MODIFY
 */
@Path("${service.name}")
public interface ${service.name}Service extends ${service.name}BaseService {
	
	// Developers should add any service operations here that cannot be defined via the PIM
	
}