package ${basePackage}.service.impl;

import org.springframework.stereotype.Service;

#foreach( $import in $service.imports )
import $import;
#end

/**
 * Service implementation class for the ${service.name} service.
 * @see ${basePackage}.service.rest.${service.name}Service
 *
 * GENERATED STUB CODE - PLEASE *DO* MODIFY
 */
@Service
public class ${service.name}ServiceImpl extends ${service.name}BaseServiceImpl {
#foreach( $operation in $service.operations )

	/**
	 * {@inheritDoc}
	 */
	@Override
	#if($operation.isReturnTypeCollection())	 
	protected Collection<${operation.returnManyTypeAsBO}> ${operation.lowercaseName}Impl(${operation.signature}) {
	#elseif($operation.isResponseTypeVoid())
	protected void ${operation.lowercaseName}Impl(${operation.signature}) {
	#elseif($operation.isReturnTypeEntity())
	protected ${operation.returnTypeAsBO} ${operation.lowercaseName}Impl(${operation.signature}) {
	#else
	protected ${operation.wrappedReturnType} ${operation.lowercaseName}Impl(${operation.signature}) {
	#end
	//TODO: Add Business Logic Here
	
	#if(!$operation.isResponseTypeVoid())
		return null;
	#end
	}

#end
}