package ${basePackage}.transfer;


/**
 * Transfer object for the ${entity.name} entity.
 * @see ${basePackage}.transfer.${entity.name}Base
 *
 * GENERATED STUB CODE - PLEASE *DO* MODIFY
 */
#if($entity.isNonPersistentParentEntity())
public abstract class ${entity.name} extends ${entity.name}Base {
#else
public class ${entity.name} extends ${entity.name}Base {
#end
}