import { ErrorHandlerApi } from '../generated/error-handler-api';
import { HttpErrorResponse } from '@angular/common/http';
import { ObservableInput } from 'rxjs';
import { Injectable } from '@angular/core';
import { GlobalErrorHandlerBase } from './global-error-handler-base.service';


/*******************************************************
* Error Handler for Angular frontend
*
* Generated Code - DO MODIFY
* Template = ${templateName}
*******************************************************/
@Injectable()
export class GlobalErrorHandler extends GlobalErrorHandlerBase {
  // TODO: if you need something different than the base service make your changes here
}
