import { ${entity.name}Base } from '../../generated/model-base/${entity.nameLowerHyphen}-base.model';

/*******************************************************
* BO for Angular frontend for ${entity.name}
*
* Generated Code - DO MODIFY
* Template = entity.model.ts.vm
*******************************************************/
export class ${entity.name} extends ${entity.name}Base {
  constructor(${entity.nameLowerCamel}?: ${entity.name}Base) {
    super(${entity.nameLowerCamel});
  }
}
