import { FermenterMessageBase } from '../../generated/model-base/fermenter-message-base.model';

/*******************************************************
* Fermenter Message Model
*
* Generated Code - DO MODIFY
* Template = ${templateName}
*******************************************************/
export class FermenterMessage extends FermenterMessageBase {
  constructor(fermenterMessage?: FermenterMessageBase) {
    super(fermenterMessage);
  }
}
