import { FermenterMessagesBase } from '../../generated/model-base/fermenter-messages-base.model';

/*******************************************************
* Fermenter Messages Model
*
* Generated Code - DO MODIFY
* Template = ${templateName}
*******************************************************/
export class FermenterMessages extends FermenterMessagesBase {
  constructor(fermenterMessages?: FermenterMessagesBase) {
    super(fermenterMessages);
  }
}
