import { FermenterResponseBase } from '../../generated/model-base/fermenter-response-base.model';

/*******************************************************
 * Fermenter Response Model
 *
 * Generated Code - DO MODIFY
 * Template = ${templateName}
 *******************************************************/
export class FermenterResponse<T> extends FermenterResponseBase<T> {
  constructor(response?: FermenterResponseBase<T>) {
    super(response);
  }
}
