import { OrderWrapperBase } from '../../generated/model-base/order-wrapper-base.model';

/*******************************************************
 * Order Wrapper Model
 * 
 * Generated Code - DO MODIFY
 * Template = ${templateName}
 *******************************************************/
export class OrderWrapper extends OrderWrapperBase {
  constructor(property?: string) {
    super(property);
  }
}
