import { PageWrapperBase } from '../../generated/model-base/page-wrapper-base.model';

/*******************************************************
 * Page Wrapper Model
 * 
 * Generated Code - DO MODIFY
 * Template = ${templateName}
 *******************************************************/
export class PageWrapper<T> extends PageWrapperBase<T> {
  constructor(pageWrapper?: PageWrapper<T>) {
    super(pageWrapper);
  }
}
