import { SortWrapperBase } from '../../generated/model-base/sort-wrapper-base.model';

/*******************************************************
 * Sort Wrapper Model
 * 
 * Generated Code - DO MODIFY
 * Template = ${templateName}
 *******************************************************/
export class SortWrapper extends SortWrapperBase {
  constructor(property?: string) {
    super(property);
  }
}
