package ${basePackage}.bizobj;

import org.tigris.atlas.bizobj.AbstractBusinessObjectFactory;
import org.tigris.atlas.bizobj.BusinessObject;

public class BusinessObjectFactory extends AbstractBusinessObjectFactory {

	private static BusinessObjectFactoryInterface getBusinessObjectFactory() {
		return (BusinessObjectFactoryInterface) AbstractBusinessObjectFactory.getAbstractBusinessObjectFactory(BusinessObjectFactory.class);
	}
	
	public static BusinessObject createBusinessObject(String type) {
		return getBusinessObjectFactory().createBusinessObject( type );
	}

#foreach( $entity in $entities )
	/**
	 * Create a(n) ${entity.name} business object instance
	 */
	public static ${entity.name}BO create${entity.name}BO() {
		return getBusinessObjectFactory().create${entity.name}BO();
	}
	
#end
}