package ${basePackage}.bizobj;

/**
 * Business object composite for the ${composite.name} composite
 *
 * Generated Skeleton Code
 */ 
public class ${composite.type}BOComposite extends ${composite.type}BaseBOComposite {

	public void complexValidation() { }

}