package ${basePackage}.persist;

import org.tigris.atlas.persist.AbstractDaoFactoryInterface;

public interface DaoFactoryInterface extends AbstractDaoFactoryInterface {
	
#foreach( $entity in $entities )
	/**
	 * Create a(n) ${entity.name} data access object instance
	 */
	public ${entity.name}Dao create${entity.name}Dao();
	
#end

}