package ${basePackage}.service;

#foreach( $service in $services )
import ${basePackage}.service.ejb.${service.name}Service;
#end
#foreach( $entity in $entities )
import ${basePackage}.service.ejb.${entity.name}MaintenanceService;
#end

import org.bitbucket.fermenter.factory.Factory;

public interface ServiceFactoryInterface extends Factory {
	
#foreach( $service in $services )
	/**
	 * Create a(n) ${service.name}Service instance.
	 * @return A service to perform operations on ${service.name}	 
	 */
	${service.name}Service create${service.name}Service();
	
#end

#foreach( $entity in $entities )
	/**
	 * Create a(n) ${entity.name}MaintenanceService instance.
	 * @return A service to manage CRUD for {@link ${entity.name}}	 
	 */
	${entity.name}MaintenanceService create${entity.name}MaintenanceService();
	
#end

}