package ${basePackage}.service.impl;

#foreach( $import in $service.imports )
import $import;
#end


/**
 * Service implementation class for the ${service.name} service
 * @see ${basePackage}.service.${service.name}Service
 */
public class ${service.name}ServiceImpl extends ${service.name}ServiceBaseImpl {
#foreach( $operation in $service.operations )

	/**
	 * Execute the ${operation.name} service
	 * @see ${basePackage}.service.${service.name}Service#${operation.name}()
	 */
#if( $operation.parameters.size() > 0 )
	protected void ${operation.lowercaseName}Impl(${operation.signature}, ${operation.responseType} response) {
#else
	protected void ${operation.lowercaseName}Impl(${operation.responseType} response) {
#end
	//TO-DO Add Business Logic Here
	
	}

#end
}