package ${basePackage}.service;

import org.tigris.atlas.service.AbstractServiceFactoryInterface;

public interface ServiceFactoryInterface extends AbstractServiceFactoryInterface {
	
	/**
	 * Create an EntityMaintenanceService instance 
	 */
	public EntityMaintenanceService createEntityMaintenanceService();
	
#foreach( $service in $serviceNames )
	/**
	 * Create a(n) ${service}Service instance
	 */
	public ${service}Service create${service}Service();
	
#end

}