<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE application PUBLIC '-//Sun Microsystems, Inc.//DTD J2EE Application 1.3//EN' 'http://java.sun.com/dtd/application_1_3.dtd'>

<application>
  <display-name>${artifactId} Services</display-name>
  <description>Services pertaining to ${artifactId} functionality</description>

  <module>
    <ejb>${ejb-jar-name}.jar</ejb>
  </module>

</application>