package ${basePackage}.service.ejb.impl;

import ${basePackage}.service.ejb.${service.name}BaseService;

#foreach( $import in $service.imports )
import $import;
#end

/**
 * Service implementation class for the ${service.name} service.
 * @see ${basePackage}.service.${service.name}Service
 *
 * GENERATED STUB CODE - PLEASE *DO* MODIFY
 */
public class ${service.name}ServiceImpl extends ${service.name}BaseService {
#foreach( $operation in $service.operations )

	/**
	 * Performs the business function for $[operation.name}.
	#if( $operation.parameters.size() > 0 )
		#foreach( $parameter in $operation.parameters )
			#if( $parameter.documentation )
	 * @param ${parameter.name} ${parameter.documentation}
			#else
	 * @param ${parameter.name}  
			#end
		#end
	#end
	#if($operation.isReturnTypeCollection())	 
	 * @return A {@link Collection>} of {@link ${operation.returnManyType}}
	#elseif($operation.isReturnTypeEntity())	 
	 * @return A instance of {@link ${operation.returnManyType}}
	#end
	 */
	#if($operation.isReturnTypeCollection())	 
	Collection<${operation.returnManyType}> ${operation.lowercaseName}Impl(${operation.signature}) {
	#elseif($operation.isReturnTypeEntity())	 
	${operation.returnType} ${operation.lowercaseName}Impl(${operation.signature}) {
	#else 
	void ${operation.lowercaseName}Impl(${operation.signature}) {
	#end
	//TODO: Add Business Logic Here
	
	#if($operation.isReturnTypeCollection() || $operation.isReturnTypeEntity())
		return null;
	#end
	}

#end
}