package ${basePackage}.service.ejb.impl;

import ${basePackage}.bizobj.*;
import ${basePackage}.service.ejb.${service.name}BaseService;

#foreach( $import in $service.imports )
import $import;
#end

/**
 * Service implementation class for the ${service.name} service.
 * @see ${basePackage}.service.${service.name}Service
 *
 * GENERATED STUB CODE - PLEASE *DO* MODIFY
 */
public class ${service.name}ServiceImpl extends ${service.name}BaseService {
#foreach( $operation in $service.operations )

	/**
	 * {@inheritDoc}
	 */
	#if($operation.isReturnTypeCollection())	 
	protected Collection<${operation.returnManyTypeAsBO}> ${operation.lowercaseName}Impl(${operation.signatureWithBO}) {
	#elseif($operation.isReturnTypeEntity())	 
	protected ${operation.returnTypeAsBO} ${operation.lowercaseName}Impl(${operation.signatureWithBO}) {
	#else 
	protected void ${operation.lowercaseName}Impl(${operation.signatureWithBO}) {
	#end
	//TODO: Add Business Logic Here
	
	#if($operation.isReturnTypeCollection() || $operation.isReturnTypeEntity())
		return null;
	#end
	}

#end
}