package ${prefix}.persist;

/**
 * Data access object for the ${entity.name} application entity.
 * 
 * Generated Skeleton Code.
 *
 * @see ${prefix}.persist.${entityName}BaseDao
 */
 
public interface ${entity.name}Dao extends ${entity.name}BaseDao {
	/**
	 * Interface methods that are implemented using data access query logic 
	 * that cannot be easily expressed in meta-model definitions may be 
	 * defined in this class. 
	 */
}