package ${basePackage}.persist;

import org.bitbucket.fermenter.stout.persist.AbstractDaoFactory;

public class DaoFactory extends AbstractDaoFactory {

	private static DaoFactoryInterface getDaoFactory() {
		return (DaoFactoryInterface) AbstractDaoFactory.getAbstractDaoFactory(DaoFactory.class);
	}

#foreach( $entity in $entities )
	/**
	 * Create a(n) ${entity.name} data access object instance
	 */
	public static ${entity.name}Dao create${entity.name}Dao() {
		return getDaoFactory().create${entity.name}Dao();
	}
	
#end
}