package ${basePackage}.service.delegate;

import org.bitbucket.fermenter.stout.service.Service;
#foreach( $import in $service.imports )
import $import;
#end

/**
#if ($service.documentation)
 * ${service.documentation}
#else
 * Service delegate for the ${service.name} service
#end
 */
public interface ${service.name}ServiceDelegate extends Service {

	/** Name which uniquely identifies the ${service.name} service. */
	public static final String SERVICE_NAME = "${basePackage}.${service.name}Service";

#foreach( $operation in $service.operations )
#if ($operation.isRemote())

	/**
#if ($operation.documentation)
	 * ${operation.documentation}
#else
	 * Execute the ${operation.name} operation
#end
#if( $operation.parameters.size() > 0 )
	 *
#foreach( $parameter in $operation.parameters )
#if( $parameter.documentation )
	 * @param ${parameter.name} ${parameter.documentation}
#else
	 * @param ${parameter.name}  
#end								
#end								
#end
	 *
	 * @return ${operation.responseType}
	 */
	public ${operation.responseType} ${operation.lowercaseName}(${operation.signature});

#end	 
#end
}