package ${basePackage}.transfer;

import org.bitbucket.fermenter.transfer.AbstractTransferObjectFactoryInterface;

public interface TransferObjectFactoryInterface extends AbstractTransferObjectFactoryInterface {
	
#foreach( $entity in $entities )
	/**
	 * Create a(n) ${entity.name} transfer object instance
	 */
	public ${entity.name} create${entity.name}();
	
	/**
	 * Create a(n) ${entity.name} primary key instance
	 */
	public ${entity.name}PK create${entity.name}PK();
	
#end

}