package ${basePackage}.persist.hibernate;

import ${basePackage}.persist.DaoFactoryInterface;

#foreach( $entity in $entities )
import ${basePackage}.persist.${entity.name}Dao;
#end
#foreach( $entity in $entities )
import ${basePackage}.persist.hibernate.${entity.name}DaoImpl;
#end

public class DaoFactoryImpl implements DaoFactoryInterface {
	
#foreach( $entity in $entities )
	/**
	 * Create a(n) ${entity.name} data access object instance.
	 */
	public ${entity.name}Dao create${entity.name}Dao() {
		return new ${entity.name}DaoImpl();
	}

#end

}