package ${prefix}.persist.hibernate;

import ${prefix}.persist.${entity.name}Dao;

/**
 * Data access object implementation for the ${entity.name} application entity.
 * 
 * Generated Skeleton Code.
 *
 * @see ${prefix}.persist.hibernate.${entity.name}BaseDaoImpl
 */
public class ${entity.name}DaoImpl extends ${entity.name}BaseDaoImpl implements ${entity.name}Dao {
	
	/**
	 * Developers should put any custom data access logic required here to
	 * implement corresponding methods added to the {@link ${entity.name}Dao} 
	 * interface. 
	 */
}