package ${basePackage}.service.ejb;

import ${basePackage}.service.ServiceFactoryInterface;
#foreach( $service in $services )
import ${basePackage}.service.ejb.${service.name}Service;
#end
#foreach( $entity in $entities )
import ${basePackage}.service.ejb.${entity.name}MaintenanceService;
#end

import org.bitbucket.fermenter.stout.service.ejb.AbstractEjbServiceFactory;

/**
 * Implementation of the service factory for ejbs.
 */
public class ServiceFactoryImpl extends AbstractEjbServiceFactory implements ServiceFactoryInterface {
	
#foreach( $service in $services )
	/**
	 * @{inheritDoc}
	 */
	public ${service.name}Service create${service.name}Service() {
		return (${service.name}Service)performJndiLookup("java:module/${service.name}Service");
	}
	
#end

#foreach( $entity in $entities )
	/**
	 * @{inheritDoc}
	 */
	public ${entity.name}MaintenanceService create${entity.name}MaintenanceService() {
		return (${entity.name}MaintenanceService)performJndiLookup("java:module/${entity.name}MaintenanceService");
	}
	
#end

}