/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-card {
  margin: 15px;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.float-fix {
  overflow: auto;
}

.clearfix::after {
  content: '';
  clear: both;
  display: table;
}

.center {
  margin: auto;
  text-align: center;
}

.small-padding {
  margin: 10px 10px 10px 10px;
}
