<div fxLayout="row" fxLayoutAlign="space-evenly">
  <div fxFlex="30" class="center">
    <button type="button" mat-raised-button [color]="testResult===e2eTestStatus.TEST_PENDING ? 'primary' : 'none'"
          id="runGetSimpleDomainTest" (click)="runTest()">
      <mat-icon svgIcon="check" *ngIf="testResult===e2eTestStatus.TEST_PASSED"></mat-icon>
      Run {{testName}}
    </button>
  </div>
  <div fxFlex="30" class="center">{{testName}} Result:</div>
  <div id="testResult" fxFlex="30" class="center">{{testResult}}</div>
</div>
