<mat-card>
  <mat-card-title id="title">Simplified UI E2E test setup</mat-card-title>
  <mat-card-subtitle>Click each button to run the test</mat-card-subtitle>
  <mat-card-content fxLayout="column" fxLayoutAlign="space-around stretch" fxLayoutGap="20px">

    <app-e2e-test-runner testName="Add Simple Domain Test" [(testResult)]="addSimpleDomainTestResult" (runTestChange)="runAddSimpleDomainTest()"></app-e2e-test-runner>
    <app-e2e-test-runner testName="Get Simple Domain Test" [(testResult)]="getSimpleDomainTestResult" (runTestChange)="runGetSimpleDomainTest()"></app-e2e-test-runner>
    <app-e2e-test-runner testName="Update Simple Domain Test" [(testResult)]="updateSimpleDomainTestResult" (runTestChange)="runUpdateSimpleDomainTest()"></app-e2e-test-runner>
    <app-e2e-test-runner testName="Delete Simple Domain Test" [(testResult)]="deleteSimpleDomainTestResult" (runTestChange)="runDeleteSimpleDomainTest()"></app-e2e-test-runner>
    <app-e2e-test-runner testName="Count Simple Domain Test" [(testResult)]="countSimpleDomainTestResult" (runTestChange)="runCountSimpleDomainTest()"></app-e2e-test-runner>
    <app-e2e-test-runner testName="Find by Example Contains Test" [(testResult)]="findByExampleContainsTestResult" (runTestChange)="runFindByExampleContainsTest()"></app-e2e-test-runner>
    <app-e2e-test-runner testName="Null Param Test" [(testResult)]="nullParamTestResult" (runTestChange)="runNullParamTest()"></app-e2e-test-runner>
    <app-e2e-test-runner testName="List Param Test" [(testResult)]="listParamTestResult" (runTestChange)="runListParamTest()"></app-e2e-test-runner>
    <app-e2e-test-runner testName="Get Paged Response Test" [(testResult)]="getPagedResponseTestResult" (runTestChange)="runGetPagedResponseTest()"></app-e2e-test-runner>

    <span id="space-between-test-results-and-delete-all"></span>

    <div fxLayout="row" fxLayoutAlign="space-evenly">
      <div fxFlex="30" class="center">
        <button type="button" mat-raised-button color="warn" id="deleteAllSimpleDomains" (click)="deleteAllSimpleDomains()">Delete All Simple Domains</button>
      </div>
      <div fxFlex="30" class="center">Delete all status:</div>
      <div id="deletedAllSimpleDomainsStatus" fxFlex="30" class="center">{{deletedAllSimpleDomainsStatus}}</div>
    </div>
  </mat-card-content>
</mat-card>
