<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    	<link rel="stylesheet" type="text/css" href="../metadata.css">
		<title>${entity.name}</title>
	</head>
	
	<body>
		<h1>${entity.name}</h1>
#if( $entity.documentation )
		${entity.documentation}
#end
		
#if( $entity.fields.size() > 0 )
		<h2>Fields</h2>
		<table border="1" cellpadding="10" cellspacing="0">
			<tr>
				<th>Name</th>
				<th>Documentation</th>
				<th>Type</th>
				<th>Column</th>
				<th>Required</th>
			</tr>
#foreach( $field in $entity.fields )
			<tr>
				<td>${field.name}</td>
				<td>
#if( $field.documentation )
					${field.documentation}
#else
					&nbsp;
#end
				</td>
#if( $field.isEnumerationType() )
				<td><a href="../enumerations/${field.type}.html">${field.type}</a></td>
#else
				<td>${field.type}</td>
#end
				<td>${field.column}</td>
#if( $field.required.toString() != "null" )
				<td>${field.required}</td>
#else
				<td>false</td>
#end
			</tr>
#end
		</table>
#end
#if( $entity.references.size() > 0 )
		<h2>References</h2>
		
		<table border="1" cellpadding="10" cellspacing="0">
			<tr>
				<th>Name</th>
				<th>Documentation</th>
				<th>Type</th>
				<th>Required</th>
			</tr>
#foreach( $reference in $entity.references )
			<tr>
				<td>${reference.name}</td>
#if( $reference.documentation )
				<td>${reference.documentation}</td>
#else
				<td>&nbsp;</td>
#end
				<td><a href="${reference.type}.html">${reference.type}</a></td>
#if( $reference.required.toString() != "null" )
				<td>${reference.required}</td>
#else
				<td>false</td>
#end
			</tr>
#end
		</table>
#end
#if( $entity.relations.size() > 0 )
		<h2>Relations</h2>
		
		<table border="1" cellpadding="10" cellspacing="0">
			<tr>
				<th>Documentation</th>
				<th>Type</th>
				<th>Multiplicity</th>
			</tr>
#foreach( $relation in $entity.relations )
			<tr>
#if( $relation.documentation )
				<td>${relation.documentation}</td>
#else
				<td>&nbsp;</td>
#end
				<td><a href="${relation.type}.html">${relation.type}</a></td>
				<td>${relation.multiplicity}</td>
			</tr>
#end
		</table>		
#end	

#if( $entity.queries.size() > 0 )
		<h2>Queries</h2>
		
		<table border="1" cellpadding="10" cellspacing="0">
			<tr>
				<th>Name</th>
				<th>Documentation</th>
				<th>Criteria</th>
			</tr>
#foreach( $query in $entity.queries )
			<tr>
				<td>${query.name}</td>
#if( $query.documentation )
				<td>${query.documentation}</td>
#else
				<td>&nbsp;</td>
#end
				<td>
#if( $query.criteria.size() > 0 )
					<ol>
#foreach( $criterion in $query.criteria )
						<li>
							<strong>${criterion.name}</strong> : ${criterion.type}
#if( $criterion.documentation )
							<br/>$criterion.documentation
#end								
						</li>
#end								
					</ol>
#else
					none
#end
				</td>
			</tr>
#end
		</table>
#end

	</body>
</html>
		