<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    	<link rel="stylesheet" type="text/css" href="../metadata.css">
		<title>Services</title>
	</head>
	
	<body>
		<h1>Services</h1>

<table border="1" cellpadding="10" cellspacing="0">
	<tr>
		<th colspan="2" align="left">
			<h2><a name="ServiceSummary">Service Summary</a></h2>
		</th>
	</tr>
#foreach( $service in $services )
	<tr>
		<td><a href="#${service.name}">${service.name}</td>
		<td>
#if( $service.documentation )
		${service.documentation}
#else
	&nbsp;
#end
		</td>
	</tr>
#end
	<tr>
		<td><a href="#EntityMaintenanceService">EntityMaintenanceService</a></td>
		<td>Standard operations for each project entity</td>
	</tr>
</table>
<hr/>		
<h2>Service Detail</h2>
#foreach( $service in $services )
		<h3>Service: <a name="${service.name}">${service.name}</a></h3>
#if( $service.documentation )
				${service.documentation}<p/>
#end
		<table border="1" cellpadding="10" cellspacing="0">
			<tr>
				<th>Operation</th>
				<th>Parameters</th>
				<th>Return</th>
			</tr>
#foreach( $operation in $service.operations )
			
			<tr>
				<td><strong>${operation.name}</strong>
#if( $operation.documentation )
				<br/>
				${operation.documentation}
#end
				</td>
				<td>
#if( $operation.parameters.size() > 0 )
					<ol>
#foreach( $parameter in $operation.parameters )
						<li>
#if( $parameter.isEnumeration() )
							<strong>${parameter.name}</strong> : <a href="../enumerations/${parameter.type}.html">${parameter.type}</a>
#elseif( $parameter.isEntity() )
							<strong>${parameter.name}</strong> : <a href="../entities/${parameter.type}.html">${parameter.type}</a>
#else
							<strong>${parameter.name}</strong> : ${parameter.type}
#end
#if( $parameter.documentation )
							<br/>$parameter.documentation
#end								
						</li>
#end								
					</ol>
#else
					void
#end
				</td>
				<td>
#if( $operation.returnType.toString() != "null" )
#if( $operation.isReturnTypeEntity() )
					<a href="../entities/${operation.returnType}.html">${operation.returnType}</a>
#else
					${operation.returnType}
#end
#else
					List of <a href="../entities/${operation.returnManyType}.html">${operation.returnManyType}</a>
#end
				</td>
			</tr>
#end
		</table>
		<a href="#ServiceSummary">Top</a>
#end
		<h3>Service: <a name="EntityMaintenanceService">EntityMaintenanceService</a></h3>
		<table border="1" cellpadding="10" cellspacing="0">
			<tr>
				<th>Operation</th>
				<th>Input</th>
				<th>Output</th>
			</tr>			
#foreach( $entity in $entities )
			<tr>
				<td>save${entity.name}</td>
				<td><a href="../entities/${entity.name}.html">${entity.name}</a></td>
				<td><a href="../entities/${entity.name}.html">${entity.name}</a></td>
			</tr>
			<tr>
				<td>find${entity.name}ByPrimaryKey</td>
				<td>${entity.name}PK</td>
				<td><a href="../entities/${entity.name}.html">${entity.name}</a></td>
			</tr>
			<tr>
				<td>delete${entity.name}</td>
				<td>${entity.name}PK</td>
				<td><a href="../entities/${entity.name}.html">${entity.name}</a></td>
			</tr>			
#end
		</table>
		<a href="#ServiceSummary">Top</a>
	</body>
</html>		